absl-py==2.3.1
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
cloudpickle @ file:///C:/b/abs_fdydcrc9_2/croot/cloudpickle_1751309451995/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1757067165604/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341251593/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061247746/work
gurobipy==12.0.3
immutabledict==4.2.2
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1757583380550/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1759328514610/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_7c6fipznw3/croot/jupyter_core_1751991383524/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1758520260109/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
numpy==2.3.4
ortools==9.14.6206
packaging @ file:///C:/b/abs_f7t3vr2_lo/croot/packaging_1753775377650/work
pandas==2.3.3
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1760375692753/work
protobuf==6.31.1
psutil @ file:///C:/miniconda3/conda-bld/psutil_1757104556644/work
PuLP==3.3.0
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz==2025.2
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1758103948070/work
setuptools==80.9.0
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
spyder-kernels @ file:///C:/miniconda3/conda-bld/spyder-kernels_1759828145784/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typing_extensions==4.15.0
tzdata==2025.2
wcwidth @ file:///C:/b/abs_0c8p4c33bp/croot/wcwidth_1750352902378/work
wheel==0.45.1
